[submodule "Minimus"]
	path = Beamer/minimus
	url = git@Lithium:LaTeX/Minimus.git
	branch = master
[submodule "BeamerBismuth"]
	path = Beamer/beamer-bismuth
	url = git@Lithium:LaTeX/BeamerBismuth.git
	branch = master
[submodule "StandaloneSilicon"]
	path = Beamer/standalone-silicon
	url = git@Lithium:LaTeX/StandaloneSilicon.git
	branch = master
[submodule "MakefileLaTeX"]
	path = Beamer/makefile-latex
	url = git@Lithium:LaTeX/MakefileLaTeX
	branch = master
[submodule "PyJool"]
	path = Beamer/pyjool
	url = git@Lithium:LaTeX/PyJool.git
	branch = master
