[submodule "Minimus"]
	path = Beamer/minimus
	url = git@Lithium:LaTeX/Minimus.git
	branch = dev
[submodule "BeamerBismuth"]
	path = Beamer/beamer-bismuth
	url = git@Lithium:LaTeX/BeamerBismuth.git
	branch = dev
[submodule "StandaloneSilicon"]
	path = Beamer/standalone-silicon
	url = git@Lithium:LaTeX/StandaloneSilicon.git
	branch = dev
